<div *ngIf="weathers" class="grid grid-pad">
    <div *ngFor="let weather of weathers" class="col-1-4">
        <app-weather-widget [weather]="weather"></app-weather-widget>
    </div>
</div>
<!--<div *ngIf="weathers">-->
    <!---->
    <!--<h2>{{ weather.city | uppercase }} Details</h2>-->
    <!--<div><span>id: </span>{{selectedWeather.id}}</div>-->
    <!--<div><span>Temperature: </span>{{ selectedWeather.temp }}</div>-->
    <!--<div><span>Max Temperature: </span>{{ selectedWeather.max_temp }}</div>-->
    <!--<div><span>Min Temperature: </span>{{ selectedWeather.min_temp }}</div>-->
    <!--<button (click)="goBack()">go back</button>-->
<!--</div>-->


