<h1 style="float: left">
    Welcome to {{ title }}!
    <nav>
        <a routerLink="/">Home</a>
    </nav>
</h1>

<app-weather-search></app-weather-search>
<div style="clear:both"></div>

<router-outlet></router-outlet>

