.module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 250px;
    min-width: 250px;
    background-color: #607d8b;
    border-radius: 2px;
}
.module:hover {
    background-color: #eee;
    cursor: pointer;
    color: #607d8b;
}