<div *ngIf="weather" class="module ">
  <h2>{{ weather.city | uppercase }}</h2>
  <h4>{{ weather.date | date:'EEEE' }}</h4>
  <h5>{{ weather.state_name }}</h5>
  <img src="{{ weather.icon }}" />
  <!--<div><span>id: </span>{{weather.id}}</div>-->
  <div><span>Temp: </span>{{ weather.temp | number:'2.1-2' }}</div>
  <div><span>Max Temp: </span>{{ weather.max_temp | number:'2.1-2' }}</div>
  <div><span>Min Temp: </span>{{ weather.min_temp | number:'2.1-2' }}</div>
</div>
