<div id="search-component">
  <h4>Weather Search</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let location of locations$ | async" >
      <a routerLink="/weather/{{location.woeid}}">
        {{location.title}}
      </a>
    </li>
  </ul>
</div>