<h3> Top City Weather</h3>
<div class="grid grid-pad">
    <a *ngFor="let weather of weathers" class="col-1-4" routerLink="/weather/{{weather.id}}">

        <app-weather-widget [weather]="weather"></app-weather-widget>
    </a>
</div>